<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
   
   
   <servlet>
   <servlet-name>Home</servlet-name>
   <servlet-class>com.CoHotel.servlets.Home</servlet-class>
   </servlet>
   
   <servlet-mapping>
   <servlet-name>Home</servlet-name>
   <url-pattern>/</url-pattern>
   </servlet-mapping>
   <!--  -->
   
   <servlet>
   <servlet-name>Ajouter</servlet-name>
   <servlet-class>com.CoHotel.servlets.Ajouter</servlet-class>
   </servlet>
   
   <servlet-mapping>
   <servlet-name>Ajouter</servlet-name>
   <url-pattern>/ajouter</url-pattern>
   </servlet-mapping>
   <!--  -->
   
    <servlet>
   <servlet-name>Admin</servlet-name>
   <servlet-class>com.CoHotel.servlets.Admin</servlet-class>
   </servlet>
   
   <servlet-mapping>
   <servlet-name>Admin</servlet-name>
   <url-pattern>/admin</url-pattern>
   </servlet-mapping>
   <!--  -->
   <servlet>
   <servlet-name>User</servlet-name>
   <servlet-class>com.CoHotel.servlets.User</servlet-class>
   </servlet>
   
   <servlet-mapping>
   <servlet-name>User</servlet-name>
   <url-pattern>/user</url-pattern>
   </servlet-mapping>
	      
	<!--  -->
	<servlet>
   <servlet-name>AfficherReserve</servlet-name>
   <servlet-class>com.CoHotel.servlets.AfficherReserve</servlet-class>
   </servlet>
   
   <servlet-mapping>
   <servlet-name>AfficherReserve</servlet-name>
   <url-pattern>/reservation</url-pattern>
   </servlet-mapping>
	      
	<!--  -->
	
   <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>

  
</web-app>